@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Jost&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Begin modifications to missing.style */

html {
  font-size: 20px;
  line-height: 1.85em;
  height: 100%;

  --primaryfg-rgb: 39 22 22;
  --primarybg-rgb: 227 237 243;
  --flashyfg-rgb: 26 108 40;
  --flashybg-rgb: 200 213 212;

  --flashy-font: "Chakra Petch", sans-serif;
  --prose-font: "Jost", sans-serif;

  @apply flex flex-col items-center;
  @apply text-primaryfg bg-primarybg;
  @apply font-prose;
}

body {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-flashy;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

a {
  @apply underline decoration-gray-500;

  &[href^="http"],
  &[href^="mailto"] {
    @apply decoration-blue-600 text-blue-600;
  }
}

header,
footer {
  /* The translate on the box titlebar covers the navbar unless this */
  z-index: 1;
}

header {
  justify-content: flex-start;
  @apply bg-primarybg;
}

header.sticky {
  top: 0px;
}

footer {
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
  border-block-end: none;

  margin-block-start: calc(var(--gap));
  margin-block-end: 0;

  @apply bg-primarybg;
}

nav ul,
nav ol {
  list-style: none;
  padding-left: 0;
}

ol,
ul {
  padding-left: 0.2rem;
}

ul {
  @apply list-disc;

  padding-left: 1.4rem;
}

ol {
  list-style: none;
  counter-reset: counter-function;
}

ol li {
  counter-increment: counter-function;
  margin: 0.1rem;
  display: flex;
  align-items: flex-start;
}

ol li::before {
  content: counter(counter-function) ".";
  flex: 0 0 1.8rem;
  text-align: left;
  margin-right: 0rem; /* adjust as needed */
}

button,
input[type="submit"] {
  cursor: pointer;
}

textarea,
input {
  @apply bg-primarybg;
  @apply py-sm px-md;
}

input {
  @apply border border-black;
  &[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

label {
  @apply w-full flex flex-row justify-between items-center;
}

label input {
  @apply ml-md flex-grow;
}

blockquote {
  @apply bg-gray-300 text-gray-700 p-md mx-md my-xl italic;

  & p {
    @apply mb-0 mx-0 mt-md p-0;
  }

  & p:nth-of-type(1) {
    @apply mt-0;
  }
}

/* Components */

.cpnt-logo {
  --logo-size: 1.4rem;
  display: inline-block;

  height: var(--logo-size);
  width: var(--logo-size);
  fill: rgb(var(--primaryfg-rgb));
  margin-block-start: calc(var(--logo-size) - 1.7rem);
}

a:hover .cpnt-logo {
  text-decoration: underline;
}

.cpnt-comment-start {
  position: fixed;
  top: 0;
  left: 0;

  @apply bg-primaryfg text-primarybg cpnt-button;
}

.cpnt-comment {
}

/**
 * This component is taken almost verbatim from Ryan Mulligan's
 * See https://ryanmulligan.dev/blog/layout-breakouts/
 **/
.cpnt-bleed-layout {
  /* Gap is the gutter/alleys size  */
  --cpnt-bleed-layout-gap: clamp(1rem, 6vw, 3rem);
  --cpnt-bleed-layout-full: minmax(var(--cpnt-bleed-layout-gap), 1fr);
  --cpnt-bleed-layout-content: min(
    50ch,
    100% - var(--cpnt-bleed-layout-gap) * 2
  );
  --cpnt-bleed-layout-popout: minmax(0, 2rem);
  --cpnt-bleed-layout-feature: minmax(0, 5rem);

  display: grid;
  /**
   * Note each pair of -start/-end line names creates the track name without the suffix
   * E.g. "full-start" and "full-end" means there is a track name "full"
   **/
  grid-template-columns:
    [full-start]
    var(--cpnt-bleed-layout-full)
    [feature-start]
    var(--cpnt-bleed-layout-feature)
    [popout-start]
    var(--cpnt-bleed-layout-popout)
    [content-start]
    var(--cpnt-bleed-layout-content)
    [content-end]
    var(--cpnt-bleed-layout-popout)
    [popout-end]
    var(--cpnt-bleed-layout-feature)
    [feature-end]
    var(--cpnt-bleed-layout-full)
    [full-end];
}

/* Default all top-level content to the content column */
.cpnt-bleed-layout > * {
  grid-column: content;
}
.cpnt-bleed-layout .layout-popout {
  grid-column: popout;
}
.cpnt-bleed-layout .layout-feature {
  grid-column: feature;
}
.cpnt-bleed-layout .layout-full {
  grid-column: full;
}

.cpnt-blog-article {
  @apply my-md;
  @apply layout-full cpnt-bleed-layout;

  & p,
  & ul,
  & ol {
    @apply my-lg;
    @apply no-boost;
  }

  & blockquote {
    @apply layout-popout m-0 p-xl;

    & p {
      @apply mb-0 mx-0 mt-md p-0;
    }

    & p:nth-of-type(1) {
      @apply mt-0;
    }

    & pre {
      @apply mt-md;
    }
  }

  & pre {
    font-size: 0.9em;
    line-height: 1.45em;

    @apply layout-popout bg-primaryfg/10 text-primaryfg px-xl py-md rounded-md overflow-x-auto mb-md;
  }

  & figure {
    @apply bg-primaryfg/40 p-xl rounded-md;

    & figcaption {
      @apply mb-xs;
    }

    & pre {
      @apply bg-primaryfg/10 text-primaryfg px-md py-sm rounded-md overflow-x-auto mb-md;
    }

    & output pre {
      @apply p-md overflow-y-auto;
      max-height: 10rem;
    }
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h6 {
    @apply mt-md;
  }
}

/* Override boxicons */
.bx {
  vertical-align: middle;
}

.cpnt-hover-unhide:hover .invisible.cpnt-hover-unhide__target {
  visibility: visible;
}

.cpnt-button {
  @apply rounded-md py-xs px-md tracking-widest;

  @apply text-primarybg bg-flashyfg;
}

.cpnt-codenames-codepad {
  /* this squared is the total count of all squares in the grid */
  --cpnt-codenames-codepad-grid-side-length: 5;
  display: grid;
  grid-template-columns: repeat(
    var(--cpnt-codenames-codepad-grid-side-length),
    1fr
  );
  grid-template-rows: repeat(
    var(--cpnt-codenames-codepad-grid-side-length),
    1fr
  );
  align-content: center;
  justify-content: center;
  gap: 1rem;

  & [data-script^="install codenameCard"] {
    @apply border border-black h-full w-full flex justify-center items-center rounded-xl;
  }
}
/* TODO How to append underscores using CSS Nesting spec? */
.cpnt-codenames-codepad__red,
.cpnt-codenames-codepad__blank {
  @apply transition-colors;
  transition-duration: 100ms;
}
.cpnt-codenames-codepad__red {
  @apply bg-red-400;

  &:nth-child(2n) {
    @apply bg-red-400/80;
  }
}
.cpnt-codenames-codepad__blank {
  @apply bg-stone-300;

  &:nth-child(2n) {
    @apply bg-stone-300/80;
  }
}
input[type="number"][data-script^="install decimal"] {
  @apply flex-grow-0;
  @apply text-right font-mono;
}

/* Utility */

/* See https://stackoverflow.com/questions/11289166/chrome-on-android-resizes-font */
/* Also, for more details, https://jwir3.wordpress.com/2012/07/30/font-inflation-fennec-and-you/ */
.no-boost {
  max-height: 999999px;
}
